<section class='attributes-propulsion'>
  {{~> 'modules/starscape-pbta/templates/common-parts/sheet-block-label.hbs' label='Starscape.Ship.Attributes.Propulsion.Label' sublabel='Starscape.Ship.Attributes.Propulsion.Instructions' ~}}
  <div class="flexcol">
    {{~> 'modules/starscape-pbta/templates/common-parts/multi-choice-of-object-options.hbs' list=system.attributes.propulsion action="toggle-propulsion"~}}
  </div>
</section>