<section class='attributes-weapons'>
  {{~> 'modules/starscape-pbta/templates/common-parts/sheet-block-label.hbs' label='Starscape.Ship.Attributes.Weapons.Label' sublabel='Starscape.Ship.Attributes.Weapons.Instructions' ~}}
  <div class="flexcol">
    {{~> 'modules/starscape-pbta/templates/common-parts/multi-choice-of-object-options.hbs' list=system.attributes.weapons action="toggle-weapons"~}}
  </div>
</section>
