<section class='attributes-crew'>
  {{~> 'modules/starscape-pbta/templates/common-parts/sheet-block-label.hbs' label='Starscape.Ship.Attributes.Crew.Label' sublabel='Starscape.Ship.Attributes.Crew.Instructions' ~}}
  <div class="flexcol">
    {{~> 'modules/starscape-pbta/templates/common-parts/choice-of-string-options.hbs' system.attributes.crewSize attrPath="system.attributes.crewSize.value" ~}}
  </div>
</section>
