<div class="sheet-block">
	<div class="flexrow">
		<label class="block-label">{{localize 'Starscape.CharacterSheets.details.sectionHeaders.stellarMove'}}</label>
	</div>
	<div class="flexrow">
      {{editor playbook.system.stellarMove button=true owner=owner editable=false engine="prosemirror" collaborate=false}}
	</div>
</div>
